[url "https://"]
  insteadOf = git://
[core]
  eol = lf
  autocrlf = input
  safecrlf = false
  pager = less
[alias]
  ada = add -A
  co = checkout
  cob = checkout -b
  cod = checkout develop
  cm = commit
  cma = commit --amend
  feto = fetch origin
  mod = merge origin/develop
  l1 = log --oneline
  puta = push --tags
  pod = pull origin develop
  pom = pull origin master
  pussy = push origin develop
  pushy = push origin master
  rmv = remote -v
  taga = "!f() { git tag -a $1 -m '$1'; }; f"
  tal = tag -l
  st = status
  stu = status -uno
  stal = stash list
