[url "https://"]
  insteadOf = git://
[core]
  eol = lf
  autocrlf = input
  safecrlf = false
  pager = less
[alias]
  ada = add -A
  co = checkout
  cob = checkout -b
  cod = checkout develop
  cm = commit
  cma = commit --amend
  feto = fetch origin
  mod = merge origin/develop
  mob = "!f() { git merge origin/`git rev-parse --abbrev-ref HEAD`; }; f"
  l1 = log --oneline
  puta = push --tags
  pod = pull origin develop
  pom = pull origin master
  pob = "!f() { git pull origin `git rev-parse --abbrev-ref HEAD`; }; f"
  pussy = push origin develop
  pushy = push origin master
  pub = "!f() { git push origin `git rev-parse --abbrev-ref HEAD`; }; f"
  rmv = remote -v
  taga = "!f() { git tag -a $1 -m '$1'; }; f"
  tal = tag -l
  st = status
  stu = status -uno
  sta = stash
  stam = "!f() { git stash save '$@' }; f"
  stal = stash list
  stap = stash apply
  
  pr = "!f() {\
    remote=`git rmv | grep origin | grep push | awk '{print $2}'`;\
    project=`echo $remote | cut -d/ -f6`;\
    repo=`echo $remote | cut -d/ -f7 | cut -d. -f1`;\
    branch=`git rev-parse --abbrev-ref HEAD`;\
    
    case '$1' in\
    github | gh) start chrome https://github.com/$project/$repo/compare/$branch...develop?expand=1;;\
    *) echo https://host:port/path/$project/$repo?branch=$branch;;\
    esac;\
  }; f"
  
  # github
  # https://github.com/{project}/{repo}/compare/{branch}...develop?expand=1
  #
  #
